.projects-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
    
    rgba(0, 0, 0, 0.5)), url(dark-clouds.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
    // width: 90%;
    // margin-bottom: 30px;
    // flex-wrap: wrap;
    

    // .title {
    //     font-size: 28px;
    //     margin-bottom: 25px
    // }

    .projects {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}