.project-item-wrapper {

    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: center;
    align-items: center;

    .project-item {
    // position: absolute;
    text-align: center;
    max-width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 550px;
    align-items: center;


    &:hover {
        & .image {
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        & .collection-footer {
            cursor: default;
            opacity: 1;
        }

        & .name {
            cursor: default;
            opacity: 0.9;
        }
    }

    .image {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 3%;
        width: 25vw;
        height: 60vh;
        background-size: cover;
        background-position: center;
        margin-top: 60px;
    }


    .card-top {
        padding: 10px 25px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.883) !important;
        backdrop-filter: blur(5px) !important;
        border-radius: 5px;

        .link-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    .name {
        color: rgb(26, 26, 26);
    }

    #link{
        color: rgb(26, 26, 26);
        font-size: 28px;
        margin: 7px;
        &:hover {
            cursor: pointer;
            color: #11ABB0;
            border-color: #FFFFFF;
        }
        &:active {
            color:#BBBBBB;
            border-color:#BBBBBB;
        }
    }

    .collection-footer {

        opacity: 0;
        display: flex;
        font-size: 18px;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;

            .description {
                background-color: rgba(255, 255, 255, .15) !important;
                backdrop-filter: blur(20px) !important;
                border-radius: 10px;
                padding: 15px;
                width: 65%;
                color: rgb(46, 46, 46);;
                margin: 0 auto;
            }
    }
}

    .techs-wrapper{ 
        margin-top: 20px;   
        .techs {
            img {
                padding: 0px 2.5px;
            }
        }
    }
}