#nav-wrap {
    height: 70px;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 20px;
    font: 20px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto; /* centers text vertically in div */ 
    z-index: 100;
    position: sticky;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.591);

    .opaque { 
        background-color: #333; 
    }

    #nav-wrap > a.mobile-btn { display: none; }

    .home-container {
        height: 100%;
        width: 70px;
        padding: 25px;
        text-decoration: none;
        text-align: left;
        color: #fff;
        &:hover {
            color: rgb(159, 159, 159)
        }

        img {
            height: 50%;
            width: 50%;
        }
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;


        .option {
            padding: 10px 15px;
            cursor: pointer;
            text-decoration: none;
            text-align: left;
            color: #fff;
            &:hover {
                color: rgb(72, 72, 72)
            }
        }

    }

    .active {
        color: #11ABB0 !important;
    }
}