#about {
    padding-top: 96px;
    position: relative;
    max-height: 400px;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5)), url(../../images/dark-pattern.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    overflow: hidden;

    .content-container{
        
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 60px 1fr 60px;
        grid-column-gap: 16px;
        grid-row-gap: 16px;

        .headshot-container {
            height: 400px;
            width: 100%;
            grid-area: 2 / 3/ 4 / 1;
            margin-top: 80px;
            padding-left: 100px;
        }

        .information-container {
            grid-area: 2 / 6 / 3 / 6;
            padding-top: 60px;
            padding-right: 60px;
            padding-left: 100px;
        }
    }


    h2 {
        font: 22px/30px 'opensans-bold', sans-serif;
        color: #fff;
        margin-bottom: 12px;
    }

    p {
        line-height: 30px;
        color: #7A7A7A;
    }

    .profile-pic {
        position: relative;
        width: 200px;
        height: 300px;
        border-radius: 5%;
    }

    .contact-details {
        width: 41.66667%; 
    }

    .download {
        width: 58.33333%;
        padding-top: 6px;
    }

    .main-col { 
        padding-right: 5%; 
    }

    .button {
        margin-top: 6px;
        background: #444;

        &:hover {
            background: #fff;
            color: #2B2B2B;
        }
    }

    i {
        margin-right: 15px;
        font-size: 20px;
    }
}
