#about {
    padding: 200px 0px;
    position: relative;
    width: 100%;
    background: 
    linear-gradient(rgb(70, 70, 70),
    rgba(70, 70, 70, 0.5)), 
    url(/images/dark-landscape.png) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;

    .content-container{
        background-color: rgba(255, 255, 255, .15) !important;
        backdrop-filter: blur(5px) !important;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        width: 83%;
        min-height: 60vh;
        margin: 0 auto; 

        .headshot-container {
            width:50%;
            display: flex;
            align-items: center;
            justify-content: center;

            .profile-pic {
                position: relative;
                width: 85%;
                height: 85%;
                border-radius: 5%;
                // background-color: pink;
                background-image: url(/images/headshot.png);
                background-position: 25% 27%;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .information-container {
            width: 50%;
            p {
                color: rgb(218, 218, 218);
                font-weight: 400;
                font-size: 20px;
                // text-shadow: 1px 1px #ffffff;
            }
        }
    }



    @media only screen and (min-width: 1500px)  {
        .content-container{
            width: 59%;
        }
      }
 
      @media only screen and (max-width: 531px) {
            .content-container{
                flex-direction: column;

                .headshot-container{
                    width: 100% ;

                    .profile-pic{
                        height: 65vh;
                        width: 95vw;
                    }
                } 
                .information-container{
                    width: 100% ;
                }
            }
      }


    h2 {
        font: 22px/30px 'opensans-bold', sans-serif;
        color: #fff;
        margin-bottom: 12px;
    }

    p {
        line-height: 30px;
        color: #7A7A7A;
    }



    .contact-details {
        width: 41.66667%; 
    }

    .download {
        width: 58.33333%;
        padding-top: 6px;
    }

    .main-col { 
        padding-right: 5%; 
    }

    .button {
        margin-top: 6px;
        background: #444;

        &:hover {
            background: #fff;
            color: #2B2B2B;
        }
    }

    i {
        margin-right: 15px;
        font-size: 20px;
    }
}


@media only screen and (max-width: 531px) {
    #about {
        padding: 60px 0px 40px 0px;
    }
}