.project-item {
    position: relative;
    text-align: center;
    padding: 70px;
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 550px;
    align-items: center;

    &:hover {
        & .image {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        & .collection-footer {
            opacity: 1;
        }

        & .name {
            opacity: 0.9;
            color: #11ABB0;
        }
    }

    .image {
        border-radius: 3%;
        width: 100%;
        height: 95%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
        filter: brightness(50%)
    }

    .name {
        color: white;
        position: absolute;
        top: 52%;
        left: 50%;
        margin: 0 auto;
        transform: translate(-50%, -50%);
        }

        #github-button {
            color: white;
            font-size: 28px;
            position: absolute;
            top: 60%;
            left: 45%;
            transform: translate(-50%, -50%);
            &:hover {
                cursor: pointer;
                color: #11ABB0;
                border-color: #FFFFFF;
            }
        }
        
        #demo-button {
            color: white;
            font-size: 28px;
            position: absolute;
            top: 60%;
            left: 55%;
            transform: translate(-50%, -50%);

            &:hover {
                cursor: pointer;
                color: #11ABB0;;
                border-color: #FFFFFF;
            }

            &:active {
                color:#BBBBBB;
                border-color:#BBBBBB;
            }
        }

    .collection-footer {

        opacity: 0;

        // font-size: 40px;
        // position: absolute;
        // top: 0;
        // left: 0;
        // color: #1c87c9;
        // background-color: rgba(200, 200, 200, 0.5);
        // width: 300px;
        // height: 300px;

        // text-align: center;

        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;

            .description {
                width: 65%;
                color: white;
                position: absolute;
                top: 72%;
                left: 50%;
                margin: 0 auto;
                transform: translate(-50%, -50%);
            }
    }
}
